@import '../../../styles/colors';
:host ::ng-deep {
  .p-tabview-nav {
    justify-content: center;
  }
}
.poster {
  max-width: 100%;
}
.overview {
  line-height: 1.5;
}
.stat {
  display: flex;
  margin-bottom: 15px;
  .label {
    width: 150px;
    font-weight: bold;
  }

  .value {
    color: $primaryColor;
  }
  .genre {
    margin-right: 10px;
  }
}
.name {
  justify-content: center;
  text-align: center;
}
.castHead {
  background-color: $bgColorLight;
}
.heading {
  color: $primaryColor;
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
