<ng-container *ngIf="movie">
  <app-slider [items]="[movie]" [isBanner]="true"></app-slider>
  <div class="card">
    <p-tabView>
      <p-tabPanel header="OverView">
        <div class="grid">
          <div class="col-12 md:col-3 lg:col-3">
            <img class="poster" [src]="imagesSizes.medium + movie.poster_path" alt="" />
          </div>
          <div class="col-12 md:col-9 lg:col-9">
            <h2>Overview</h2>
            <p class="overview">{{ movie.overview }}</p>
            <div class="stat">
              <div class="label">Release Date:</div>
              <div class="value">{{ movie.release_date | date : 'dd.MM.yy' }}</div>
            </div>
            <div class="stat">
              <div class="label">Language:</div>
              <div class="value">{{ movie.original_language | uppercase }}</div>
            </div>
            <div class="stat">
              <div class="label">Genres:</div>
              <div class="value" *ngFor="let genre of movie.genres">
                <span class="genre">{{ genre.name }}</span>
              </div>
            </div>
            <div class="stat">
              <div class="label">Revenue:</div>
              <div class="value">{{ movie.revenue | currency }}</div>
            </div>
            <div class="stat">
              <div class="label">Duration:</div>
              <div class="value">{{ movie.runtime }} min</div>
            </div>
            <div class="stat">
              <div class="label">Status:</div>
              <div class="value">{{ movie.status }}</div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Viedos">
        <div class="grid">
          <ng-container *ngFor="let video of movieVideos">
            <div class="col-12 md:col-4 lg:col-4">
              <video-embed [key]="video.key" [site]="video.site"></video-embed>
            </div>
          </ng-container>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Photos">
        <div class="grid">
          <ng-container *ngFor="let image of movieImages?.backdrops">
            <div class="col-12 md:col-4 lg:col-4">
              <p-image [src]="imagesSizes.large + image.file_path" alt="Image" width="100%" [preview]="true"></p-image>
            </div>
          </ng-container>
        </div>
      </p-tabPanel>
    </p-tabView>
    <div class="castHead">
      <h2 class="heading">Cast</h2>
      <p-carousel
      *ngIf="movieCredits"
      [value]="movieCredits.cast"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      autoPlayInterval="30"
    >
      <ng-template let-cast pTemplate="item">
        <div>
          <div class="lg-4 mb-4" *ngIf="cast.profile_path">
            <img [src]="imagesSizes.medium + cast.profile_path" [alt]="cast.name" width="100%" class="w-11" />
          </div>
          <div>
            <h4 class="name">{{ cast.name }}</h4>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    </div>
 
  </div>
</ng-container>
